* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  background: url("../img/headerFon.png") no-repeat;
  max-width: 1919px;
  height: 1040px;
  position: relative;
}
.header__high-row {
  display: flex;
  padding-left: 3%;
}
.header__logo {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #D73526;
  align-self: center;
}
.header__menu {
  padding-top: 5px;
  margin-left: auto;
}
.header__menu ul {
  display: flex;
  list-style: none;
}
.header__menu ul li a {
  color: #FFF7ED;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin-right: 28px;
}
.header__title {
  color: #D73526;
  font-size: 48px;
  font-family: Oswald;
  margin-left: 13%;
}
.header__gallery {
  display: flex;
  padding-top: 5%;
  justify-content: center;
}
.header__gallery :last-child {
  margin-right: 0;
}
.header__column {
  width: 270px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
.header__card {
  position: relative;
  display: flex;
  border-radius: 10px;
}
.header__card img {
  width: 100%;
}
.header__smoke {
  position: absolute;
  background-color: black;
  z-index: 3;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.4;
}
.header__smoke:hover {
  opacity: 0;
  transition: 1s;
}
.header__text-bottom {
  font-family: Merriweather;
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFF7ED;
}
.header__text-bottom span {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #FFF7ED;
}

.portfolio {
  display: block;
  position: relative;
}
.portfolio__title {
  display: block;
  display: none;
  position: absolute;
  color: #D73526;
  font-size: 48px;
  font-family: Oswald;
  margin-left: 7%;
  top: 3%;
}
.portfolio__fone {
  width: 100%;
}
.portfolio__mobile-fone {
  display: none;
}
.portfolio__first-row {
  display: flex;
  display: none;
  position: absolute;
  top: 3%;
  left: 7%;
  flex-wrap: wrap;
}
.portfolio__first-row :nth-child(1) .portfolio__text-bottom {
  color: black;
}
.portfolio__first-row :nth-child(2) .portfolio__text-bottom {
  color: black;
}
.portfolio__second-row {
  display: none;
}
.portfolio__card {
  margin-right: 53px;
  margin-top: 104px;
}
.portfolio__image {
  width: 380px;
  height: 380px;
}
.portfolio__image img {
  width: 100%;
}
.portfolio__text-bottom {
  margin-top: 25px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFF7ED;
}
.portfolio__button {
  background: #D73526;
  position: absolute;
  width: 316px;
  height: 63px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  padding-top: 7px;
  color: #FFF7ED;
  border-radius: 10px;
  left: 7%;
  top: 57%;
}
.portfolio__big-text {
  width: 934px;
  height: 400px;
  position: absolute;
  z-index: 3;
  top: 69%;
  left: 27%;
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #FFF7ED;
}
.portfolio__big-text :first-child {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 89px;
  color: #FFF7ED;
}
.portfolio__big-text span {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #FFF7ED;
}
.portfolio__big-text p {
  padding-top: 1%;
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #FFF7ED;
}
.portfolio__push {
  width: 1014px;
  height: 300px;
  position: absolute;
  left: 22%;
  top: 68%;
}
.portfolio__button-row {
  position: absolute;
  top: 55%;
  left: 6%;
}

.answer {
  display: block;
  height: 2069px;
  background: url("../img/aswerFon.png");
  position: relative;
}
.answer__title {
  position: absolute;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 89px;
  /* identical to box height */
  left: 2%;
  top: 2%;
  color: #D73526;
}
.answer__first-row {
  display: flex;
  padding-top: 10%;
  padding-left: 5%;
}
.answer__cost {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  width: 630px;
  color: #2C2E39;
}
.answer__cost span {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #2C2E39;
}
.answer__table {
  margin-left: 78px;
  display: flex;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #2C2E39;
}
.answer__table span {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  /* identical to box height */
  color: #2C2E39;
}
.answer__column {
  margin-right: 60px;
}
.answer__second-row {
  display: flex;
  padding-left: 5%;
  padding-top: 17%;
}
.answer__site {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  width: 1120px;
  color: #2C2E39;
  margin-right: 60px;
}
.answer__site span {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #2C2E39;
}
.answer__third-row {
  display: flex;
  padding-left: 5%;
  padding-top: 11%;
  background-color: #FFF7ED;
}
.answer__logo {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  width: 1120px;
  color: #2C2E39;
  margin-right: 60px;
}
.answer__logo span {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #2C2E39;
}
.answer__button {
  background: #D73526;
  position: absolute;
  width: 316px;
  height: 63px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  padding-top: 11px;
  color: #FFF7ED;
  border-radius: 10px;
  left: 5%;
  top: 87%;
}

.youtube {
  display: flex;
  background: url("../img/youtubeFon.png");
  height: 684px;
  position: relative;
}
.youtube__title {
  display: flex;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 89px;
  /* identical to box height */
  color: #FFF7ED;
  margin-top: 14%;
  margin-left: 5%;
}
.youtube__logo {
  position: absolute;
  width: 292px;
  height: 141px;
  left: 22%;
  top: 36%;
}
.youtube__cat {
  width: 47%;
  height: 456px;
  position: absolute;
  margin-left: 49%;
  margin-top: 6%;
}
.youtube__button {
  background: #2C2E39;
  position: absolute;
  width: 316px;
  height: 63px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  padding-top: 11px;
  color: #FFF7ED;
  border-radius: 10px;
  left: 5%;
  top: 57%;
}

.footer {
  display: block;
  background: url("../img/footerFon.png");
  height: 852px;
  padding-left: 6%;
  padding-top: 15%;
}
.footer__phone {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  color: #FFF7ED;
}
.footer__phone img {
  margin-right: 10px;
  margin-top: 12px;
  width: 48px;
  height: 48px;
}
.footer__contact {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 89px;
  /* identical to box height */
  color: #FFF7ED;
}
.footer__mail {
  display: flex;
}
.footer__mail a {
  text-decoration: none;
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #FFF7ED;
}
.footer__mail img {
  margin-right: 27px;
  margin-top: 23px;
  width: 33px;
  height: 19px;
}
.footer__social {
  padding-top: 2%;
  margin-left: -2%;
}

@media (max-width: 1800px) {
  .portfolio__button-row {
    position: absolute;
    top: 56%;
    left: 6%;
  }
}
@media (max-width: 1440px) {
  .header {
    background: url("../img/headerFon1440.png");
  }
  .header__title {
    margin-left: 2%;
  }
  .header__gallery {
    padding-top: 0;
    padding: 2% 2%;
  }
  .header__high-row {
    padding-left: 2%;
  }
  .answer {
    min-height: 2070px;
    height: auto;
  }
  .answer__title {
    font-size: 53px;
    left: 5%;
    top: 1%;
  }
  .answer__first-row {
    padding-top: 13%;
    padding-left: 5%;
  }
  .answer__cost {
    font-size: 16px;
    width: auto;
  }
  .answer__cost span {
    font-size: 36px;
    line-height: 53px;
  }
  .answer__table {
    margin-left: 40px;
    font-size: 16px;
    line-height: 27px;
  }
  .answer__column {
    margin-right: 30px;
  }
  .answer__site {
    font-size: 16px;
    line-height: 23px;
    width: 60%;
    margin-right: 60px;
  }
  .answer__site span {
    font-size: 31px;
    line-height: 53px;
  }
  .answer__dog {
    padding-top: 6%;
    width: 40%;
  }
  .answer__dog img {
    width: 100%;
  }
  .answer__logo {
    font-size: 16px;
    line-height: 23px;
    width: 60%;
    margin-right: 60px;
  }
  .answer__logo span {
    font-size: 31px;
    line-height: 45px;
  }
  .answer__logo-image {
    width: 40%;
  }
  .answer__logo-image img {
    width: 100%;
  }
  .answer__button {
    left: 5%;
    top: 93%;
  }
  .youtube {
    height: 596px;
    margin-top: 0;
  }
  .youtube__title {
    margin-top: 12%;
  }
  .youtube__cat {
    height: auto;
    margin-top: 16%;
  }
}
@media (max-width: 1300px) {
  .portfolio__button {
    width: 290px;
  }
}
@media (max-width: 1180px) {
  .portfolio__button {
    width: 250px;
  }
}
@media (max-width: 1024px) {
  .header {
    height: 830px;
  }
  .header__smoke {
    border-radius: 4px;
  }
  .header__text-bottom {
    font-size: 12px;
  }
  .header__text-bottom span {
    font-size: 18px;
    line-height: 19px;
  }
  .answer {
    padding-bottom: 40px;
    padding-top: 35px;
  }
  .answer__first-row {
    flex-direction: column;
  }
  .answer__cost {
    margin-bottom: 40px;
    width: auto;
  }
  .answer__table {
    margin-left: 0px;
  }
  .answer__second-row {
    flex-direction: column;
  }
  .answer__site {
    width: 100%;
    margin-right: 60px;
  }
  .answer__dog {
    width: 70%;
    margin-left: 27%;
  }
  .answer__third-row {
    flex-direction: column;
  }
  .answer__logo {
    width: 100%;
  }
  .answer__logo-image {
    width: 65%;
  }
  .answer__logo-image img {
    padding-bottom: 20px;
  }
  .answer__button {
    left: 5%;
    top: 2%;
    position: relative;
    padding: 1% 4%;
  }
  .youtube {
    height: 450px;
  }
  .youtube__title {
    font-size: 45px;
  }
  .youtube__logo {
    left: 17%;
    top: 34%;
  }
  .youtube__cat {
    margin-left: 49%;
    margin-top: 16%;
  }
}
@media (max-width: 914px) {
  .portfolio__button {
    width: 220px;
  }
}
@media (max-width: 853px) {
  .portfolio__button {
    width: 200px;
    font-size: 20px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    background-color: #2c2e39;
    background: url("../img/headerFon1440.png");
  }
  .header {
    height: 100%;
    background: none;
  }
  .header__menu {
    display: none;
  }
  .header__title {
    margin-left: 8%;
  }
  .header__gallery {
    padding: 2% 10%;
    flex-wrap: wrap;
    justify-content: start;
  }
  .header__column {
    width: 135px;
  }
  .portfolio {
    background-color: #2c2e39;
    position: relative;
    justify-content: center;
  }
  .portfolio__title {
    display: block;
    position: relative;
  }
  .portfolio__card {
    margin-right: 10px;
    margin-top: 50px;
  }
  .portfolio__image {
    width: 150px;
    height: 150px;
  }
  .portfolio__fone {
    display: none;
  }
  .portfolio__text-bottom {
    font-size: 15px;
    margin-top: 0;
    max-width: 150px;
    line-height: 25px;
  }
  .portfolio__first-row {
    display: flex;
    position: relative;
    width: 100%;
    top: 2%;
    left: 0;
    justify-content: center;
  }
  .portfolio__first-row :nth-child(1) .portfolio__text-bottom {
    color: #FFF7ED;
  }
  .portfolio__first-row :nth-child(2) .portfolio__text-bottom {
    color: #FFF7ED;
  }
  .portfolio__button-row {
    display: flex;
    position: relative;
    justify-content: center;
    top: 3%;
    left: 0;
    margin-top: 30px;
  }
  .portfolio__button {
    padding: 1%;
    position: relative;
    left: 0;
  }
  .portfolio__second-row {
    display: block;
    background-color: #d73526;
    margin-top: 31%;
  }
  .portfolio__mobile-fone {
    display: block;
    width: 100%;
  }
  .portfolio__big-text {
    position: relative;
    height: auto;
    width: 90%;
    padding-top: 10px;
    left: 0%;
    padding-left: 5%;
  }
  .portfolio__big-text span {
    font-size: 25px;
    line-height: 25px;
  }
  .portfolio__big-text p {
    width: 100%;
  }
  .portfolio__big-text :first-child {
    font-size: 42px;
    line-height: 66px;
  }
  .answer {
    background: #FFF7ED;
  }
  .answer__title {
    font-size: 43px;
    left: 5%;
    line-height: 13px;
    top: 1%;
    position: relative;
  }
  .answer__first-row {
    flex-direction: column;
    padding-top: 10%;
  }
  .answer__cost {
    margin-bottom: 40px;
  }
  .answer__table {
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .answer__table span {
    text-align: center;
  }
  .answer__column {
    text-align: center;
    margin-bottom: 40px;
    line-height: 23px;
    width: 42%;
  }
  .youtube {
    height: 350px;
    background-size: contain;
    flex-direction: column;
  }
  .youtube__title {
    font-size: 42px;
    margin-top: 0;
  }
  .youtube__logo {
    left: 0%;
    top: 0%;
    margin-top: -55px;
    margin-left: 24%;
    position: relative;
  }
  .youtube__button {
    width: 200px;
    height: 48px;
    font-size: 22px;
    padding-top: 4px;
    left: 5%;
    top: 80%;
  }
  .youtube__cat {
    margin-left: 40%;
    margin-top: -6%;
    width: 47%;
    position: relative;
  }
  .footer {
    background: #2c2e39;
  }
  .footer__contact {
    font-size: 47px;
  }
  .footer__social img {
    width: 95px;
  }
  .footer p {
    font-size: 20px;
  }
  .footer__phone img {
    margin-left: -4px;
  }
  .footer__social :first-child img {
    margin-left: -18px;
  }
}
@media (max-width: 425px) {
  .header__title {
    font-size: 40px;
  }
  .header__gallery {
    padding: 2% 8%;
  }
  .portfolio__title {
    top: 0;
    font-size: 39px;
  }
  .portfolio__first-row {
    left: 6px;
    top: 0;
  }
  .portfolio__card {
    margin-top: 13px;
  }
  .portfolio__image {
    width: 90px;
    height: 90px;
  }
  .portfolio__text-bottom {
    font-size: 13px;
    margin-top: 0;
    max-width: 95px;
    line-height: 17px;
  }
  .portfolio__button-row {
    top: 1%;
  }
  .footer__social img {
    width: 70px;
  }
}
@media (max-width: 375px) {
  .header {
    padding-left: 7px;
  }
  .header__gallery {
    padding: 2% 0%;
    margin: 0 auto;
    min-width: 302px;
    width: 84%;
  }
  .portfolio__big-text :first-child {
    font-size: 37px;
    line-height: 66px;
  }
  .portfolio__big-text span {
    font-size: 19px;
    line-height: 25px;
  }
  .portfolio__big-text p {
    font-size: 16px;
  }
  .answer__title {
    font-size: 37px;
  }
  .answer__cost span {
    font-size: 30px;
    line-height: 47px;
  }
  .footer {
    height: 600px;
  }
}
@media (max-width: 320px) {
  .header__title {
    margin-left: 0%;
  }
}/*# sourceMappingURL=style.css.map */